<header>
    <h1>Todos</h1>
</header>

<div id="main">

    <form ng-submit="newTodo()">
        <input id="todoText" type="text" ng-model="todoText" placeholder="What needs to be done?">
        <button id="add" type="submit">Add Todo</button>
    </form>

    <ul id="todos" ui-sortable ng-model="todos">
        <li ng-repeat="todo in todos" ng-class="{done: todo.done}">
            <input ng-click="update()" class="checkbox" ng-class="{done: todo.done}" type="checkbox" ng-model="todo.done" ng-checked="todo.done">
            <input type="text" class="title" ng-model="todo.title">
        </li>
    </ul>

</div>

<footer>
    <p class="left">{{remaining()}} {{verb()}} left</p>
    <p ng-show="remaining() > 0" class="right"><a ng-click="completeAll()" href="">Mark all as complete</a></p>
</footer>
